<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMS - Employee Management System</title>
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body>
    <header class="head">
        <a href="#" class="box" id="logo"><img src="#" alt="logo"></a>
        <a href="#" class="box" id="contact">Contact</a>
        <a href="#" class="box" id="features">Features</a>
        <a href="#" class="box" id="about">About Us</a>
        <a href="#" class="box" id="other_Products">Other Products</a>
        <div class="productDisplay"></div>
    </header>
    <script src="/js/landing.js"></script>
</body>
</html>